<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1>The one stop movie library</h1>
  <div class="jumbotron">
    <h1 class="display-4">welcome to your movie Browser!</h1>
    <p class="lead">
      This is a simple movie search application.
    </p>
    <hr class="my-4" />
    <p>This is created by sudheep.</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a>
  </div>
</div>
<%- include("./partials/footer")%>