
<%- include("./partials/header")%>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://sudheep2.github.io/Portfolio/">Contact info </a>
          </li>
        </ul>
      </div>
    </nav>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to your movie Browser!</h1>
      <p class="lead">This is a simple movie search application created by sudheep</p>
    </div>
  </div>

  <div class="row justify-content-center padding">
    <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
        <form  class="domain-form" action="/result" method="GET">
            <div class="form-group d-md-flex"> 
              <input 
              type="search" 
              class="form-control px-4" 
              placeholder="enter movie name" 
              aria-label="Search"  
              name="search"> 
              <button class="search-domain btn btn-primary px-5" type="submit"> Search </button>

             </div>
        </form>
    </div>
</div>

  <div class="row">
    <% data["Search"].forEach(function(movie) { %>
    <div 
    class="card px-2 py-2"
    style="
        width: 20rem;
        margin-bottom: 10px;
        margin-left: 40px;
        margin-right: 10px;
        margin-top: 40px;
      "
     >
     <a href="/result/<%=movie["imdbID"]%>" >
      <img class="card-img-top" src="<%=movie.Poster%>" alt="Image Not Found" />
    </a>
      <div class="card-body">
      </div>
    </div>
    <% }) %>
  </div>
  
</div>
<%- include("./partials/footer")%>