<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">MovieBrowser</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li><a href="/">Home </a></li>
                            <li><a href="https://sudheep2.github.io/Portfolio/">Portfolio</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">Telangana,India</p>
                        <p>student developer</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> 
                            <span class="mx-2">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </span> 
                            <span class="mx-2">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </span> 
                            <span class="mx-2">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span> <span class="mx-2">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </span> </p><small class="rights">
                            <span>
                                &#174;
                            </span> All Rights Reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>S.V.S.SUDHEEP RAO</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href = "mailto: venkatsaisudheep@gmail.com">venkatsaisudheep@gmail.com</a></small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>